<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Curso</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5426301371420117"
     crossorigin="anonymous"></script>
</head>
<body>
    <h1>Eliminar Curso</h1>
    <p>¿Estás seguro de que deseas eliminar el curso "<%= curso.nombre %>"?</p>
    <form method="POST" action="/cursos/eliminar/<%= curso.curso_id %>">
        <input type="submit" value="Eliminar Curso">
    </form>
</body>
</html>
