<!-- view/presentacion.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Presentación</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css">
    <style>
        /* Estilos personalizados si es necesario */
    </style>
</head>
<body class="bg-blue-900 text-white">
    <div class="h-screen flex items-center justify-center relative">
        <!-- Imagen de fondo -->
        <img src="/images/background.jpg" alt="Fondo" class="absolute inset-0 w-full h-full object-cover z-0">
        <!-- Contenido de presentación -->
        <div class="bg-opacity-70 bg-blue-600 p-8 rounded-lg shadow-lg text-center relative z-10">
            <h1 class="text-4xl font-semibold mb-4">¡Bienvenido a Gateway Corporation!</h1>
            <p class="text-lg mb-6">Vive la Mejor Experiencia de Aprender Ingles</p>
           <!-- views/presentacion.ejs -->
<!-- ... (otros contenidos) -->
<a href="/login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Iniciar Sesión</a>
<!-- ... (otros contenidos) -->
        </div>
    </div>
</body>
</html>
